sms/sms_app/sms_app/InterConnect/Web References/SMSConfigurationApi/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://pegasus.co.ug/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://pegasus.co.ug/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://pegasus.co.ug/">
      <s:element name="ExecuteDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="storedProc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExecuteDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyPresetSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sms" type="tns:SMS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SMS">
        <s:complexContent mixed="false">
          <s:extension base="tns:DbEntityOfSMS">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="SentDateTime" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="RecordDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Network" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="VendorTranId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mask" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DeliveryStatus" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MessageQueueId" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsPreset" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="PresetRuleID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PresetSmsMessage" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SenderId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DbEntityOfSMS">
        <s:complexContent mixed="false">
          <s:extension base="tns:DbEntityBaseOfSMS" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DbEntityBaseOfSMS">
        <s:complexContent mixed="false">
          <s:extension base="tns:ActiveRecordBaseOfSMS">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ActiveRecordBaseOfSMS" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:ActiveRecordBase" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ActiveRecordBase" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:ActiveRecordHooksBase" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ActiveRecordHooksBase" abstract="true" />
      <s:complexType name="OpResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="NotifyPresetSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotifyPresetSmsResult" type="tns:OpResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveInboundVendor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vendor" type="tns:Vendor" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Vendor">
        <s:complexContent mixed="false">
          <s:extension base="tns:DbEntityOfVendor">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="VendorName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ShortCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NotifyUrl" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ShouldNotifyPresetSms" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="SecretKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="VendorType" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DbEntityOfVendor">
        <s:complexContent mixed="false">
          <s:extension base="tns:DbEntityBaseOfVendor" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DbEntityBaseOfVendor">
        <s:complexContent mixed="false">
          <s:extension base="tns:ActiveRecordBaseOfVendor">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ActiveRecordBaseOfVendor" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:ActiveRecordBase" />
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveInboundVendorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveInboundVendorResult" type="tns:OpResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePresetRule">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="presetRule" type="tns:PresetRule" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PresetRule">
        <s:complexContent mixed="false">
          <s:extension base="tns:DbEntityOfPresetRule">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ShortCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MessageFormat" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="VariableIdentifier" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PresetRuleID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="MsgLengthMustMatchRuleLength" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DbEntityOfPresetRule">
        <s:complexContent mixed="false">
          <s:extension base="tns:DbEntityBaseOfPresetRule" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DbEntityBaseOfPresetRule">
        <s:complexContent mixed="false">
          <s:extension base="tns:ActiveRecordBaseOfPresetRule">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ActiveRecordBaseOfPresetRule" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:ActiveRecordBase" />
        </s:complexContent>
      </s:complexType>
      <s:element name="SavePresetRuleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SavePresetRuleResult" type="tns:OpResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveVendorCredentials">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:VendorCredential" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VendorCredential">
        <s:complexContent mixed="false">
          <s:extension base="tns:DbEntityOfVendorCredential">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SecretKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrivateKey" type="s:base64Binary" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DbEntityOfVendorCredential">
        <s:complexContent mixed="false">
          <s:extension base="tns:DbEntityBaseOfVendorCredential" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DbEntityBaseOfVendorCredential">
        <s:complexContent mixed="false">
          <s:extension base="tns:ActiveRecordBaseOfVendorCredential">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ActiveRecordBaseOfVendorCredential" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:ActiveRecordBase" />
        </s:complexContent>
      </s:complexType>
      <s:element name="SaveVendorCredentialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveVendorCredentialsResult" type="tns:OpResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteDataSet" />
  </wsdl:message>
  <wsdl:message name="ExecuteDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyPresetSmsSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyPresetSms" />
  </wsdl:message>
  <wsdl:message name="NotifyPresetSmsSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyPresetSmsResponse" />
  </wsdl:message>
  <wsdl:message name="SaveInboundVendorSoapIn">
    <wsdl:part name="parameters" element="tns:SaveInboundVendor" />
  </wsdl:message>
  <wsdl:message name="SaveInboundVendorSoapOut">
    <wsdl:part name="parameters" element="tns:SaveInboundVendorResponse" />
  </wsdl:message>
  <wsdl:message name="SavePresetRuleSoapIn">
    <wsdl:part name="parameters" element="tns:SavePresetRule" />
  </wsdl:message>
  <wsdl:message name="SavePresetRuleSoapOut">
    <wsdl:part name="parameters" element="tns:SavePresetRuleResponse" />
  </wsdl:message>
  <wsdl:message name="SaveVendorCredentialsSoapIn">
    <wsdl:part name="parameters" element="tns:SaveVendorCredentials" />
  </wsdl:message>
  <wsdl:message name="SaveVendorCredentialsSoapOut">
    <wsdl:part name="parameters" element="tns:SaveVendorCredentialsResponse" />
  </wsdl:message>
  <wsdl:portType name="SmsConfigWebApiSoap">
    <wsdl:operation name="ExecuteDataSet">
      <wsdl:input message="tns:ExecuteDataSetSoapIn" />
      <wsdl:output message="tns:ExecuteDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyPresetSms">
      <wsdl:input message="tns:NotifyPresetSmsSoapIn" />
      <wsdl:output message="tns:NotifyPresetSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveInboundVendor">
      <wsdl:input message="tns:SaveInboundVendorSoapIn" />
      <wsdl:output message="tns:SaveInboundVendorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePresetRule">
      <wsdl:input message="tns:SavePresetRuleSoapIn" />
      <wsdl:output message="tns:SavePresetRuleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveVendorCredentials">
      <wsdl:input message="tns:SaveVendorCredentialsSoapIn" />
      <wsdl:output message="tns:SaveVendorCredentialsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmsConfigWebApiSoap" type="tns:SmsConfigWebApiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteDataSet">
      <soap:operation soapAction="http://pegasus.co.ug/ExecuteDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPresetSms">
      <soap:operation soapAction="http://pegasus.co.ug/NotifyPresetSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveInboundVendor">
      <soap:operation soapAction="http://pegasus.co.ug/SaveInboundVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePresetRule">
      <soap:operation soapAction="http://pegasus.co.ug/SavePresetRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveVendorCredentials">
      <soap:operation soapAction="http://pegasus.co.ug/SaveVendorCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmsConfigWebApiSoap12" type="tns:SmsConfigWebApiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteDataSet">
      <soap12:operation soapAction="http://pegasus.co.ug/ExecuteDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPresetSms">
      <soap12:operation soapAction="http://pegasus.co.ug/NotifyPresetSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveInboundVendor">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveInboundVendor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePresetRule">
      <soap12:operation soapAction="http://pegasus.co.ug/SavePresetRule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveVendorCredentials">
      <soap12:operation soapAction="http://pegasus.co.ug/SaveVendorCredentials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmsConfigWebApi">
    <wsdl:port name="SmsConfigWebApiSoap" binding="tns:SmsConfigWebApiSoap">
      <soap:address location="http://192.168.55.3:5099/LiveSmsConfigurationApi/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="SmsConfigWebApiSoap12" binding="tns:SmsConfigWebApiSoap12">
      <soap12:address location="http://192.168.55.3:5099/LiveSmsConfigurationApi/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>