billpayments/Level2Api/UtilityReferences/Web References/NDAPayment/MobileMoneyPaymentServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.nda.or.ug" xmlns:ns1="http://service.nda.or.ug" name="MobileMoneyPaymentServiceService" targetNamespace="http://services.nda.or.ug" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://services.nda.or.ug" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://service.nda.or.ug" />
      <xs:element name="paymentNotification" type="tns:paymentNotification" />
      <xs:element name="paymentNotificationResponse" type="tns:paymentNotificationResponse" />
      <xs:complexType name="paymentNotification">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="ns1:paymentNotificationRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentNotificationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns1:paymentNotificationResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="status">
        <xs:restriction base="xs:string">
          <xs:enumeration value="JUST_IN" />
          <xs:enumeration value="IN_QUEUE" />
          <xs:enumeration value="PROCESSING" />
          <xs:enumeration value="SUCCESS" />
          <xs:enumeration value="FAILED_TEMPORARILY" />
          <xs:enumeration value="FAILED_PERMANENTLY" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema xmlns:tns="http://service.nda.or.ug" xmlns:ns1="http://services.nda.or.ug" targetNamespace="http://service.nda.or.ug" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://services.nda.or.ug" />
      <xs:complexType name="paymentNotificationRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="paymentNotification" type="tns:paymentNotificationDTO" />
          <xs:element minOccurs="0" name="requestHeader" type="tns:requestHeader" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentNotificationDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="amount" type="xs:double" />
          <xs:element minOccurs="0" name="currencyCode" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="invoiceNo" type="xs:string" />
          <xs:element minOccurs="0" name="paymentMode" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="ns1:status" />
          <xs:element minOccurs="0" name="transactionDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="transactionRef" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestHeader">
        <xs:sequence>
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="systemID" type="xs:string" />
          <xs:element minOccurs="0" name="systemToken" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentNotificationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="statusCode" type="xs:int" />
          <xs:element minOccurs="0" name="statusMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mobileMoneyPaymentService_paymentNotification">
    <part name="paymentNotification" element="tns:paymentNotification" />
  </message>
  <message name="mobileMoneyPaymentService_paymentNotificationResponse">
    <part name="paymentNotificationResponse" element="tns:paymentNotificationResponse" />
  </message>
  <portType name="mobileMoneyPaymentService">
    <operation name="paymentNotification" parameterOrder="paymentNotification">
      <input message="tns:mobileMoneyPaymentService_paymentNotification" />
      <output message="tns:mobileMoneyPaymentService_paymentNotificationResponse" />
    </operation>
  </portType>
  <binding name="mobileMoneyPaymentServiceBinding" type="tns:mobileMoneyPaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="paymentNotification">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MobileMoneyPaymentServiceService">
    <port name="mobileMoneyPaymentServicePort" binding="tns:mobileMoneyPaymentServiceBinding">
      <soap:address location="http://127.0.0.1:8080/broker/mobilemoney/invoice/payment/v1.0" />
    </port>
  </service>
</definitions>