stanbic/StanbicDstvSender/Backup/ConsoleApplication1/Web References/CEMAS/EPayment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cemasinterface/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://cemasinterface/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cemasinterface/">
      <s:element name="GetServerStatus">
        <s:complexType />
      </s:element>
      <s:element name="GetServerStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendReconcilliationFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="base64String" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vendorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendReconcilliationFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendReconcilliationFileResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiptNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTransactionDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vendorTranID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vendorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionDetailsResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateStudentDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateRequest" type="tns:StudentRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StudentRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnivCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateStudentDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateStudentDetailsResult" type="tns:Student" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Student">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StudentNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillRefNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnivCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Course" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Institution" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Balance" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trans" type="tns:Transaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Transaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Semester" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SentToTalisma" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChequeNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YearOfStudy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Offline" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DigitalSignature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnivCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Teller" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranNarration" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorTranId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranIdToReverse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Course" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Institution" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentTel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reversal" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostTransactionResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServerStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerStatus" />
  </wsdl:message>
  <wsdl:message name="GetServerStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SendReconcilliationFileSoapIn">
    <wsdl:part name="parameters" element="tns:SendReconcilliationFile" />
  </wsdl:message>
  <wsdl:message name="SendReconcilliationFileSoapOut">
    <wsdl:part name="parameters" element="tns:SendReconcilliationFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionDetails" />
  </wsdl:message>
  <wsdl:message name="GetTransactionDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateStudentDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateStudentDetails" />
  </wsdl:message>
  <wsdl:message name="ValidateStudentDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateStudentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="PostTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:PostTransaction" />
  </wsdl:message>
  <wsdl:message name="PostTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:PostTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="EPaymentSoap">
    <wsdl:operation name="GetServerStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the current status of the server i.e On/Off</wsdl:documentation>
      <wsdl:input message="tns:GetServerStatusSoapIn" />
      <wsdl:output message="tns:GetServerStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendReconcilliationFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send a CSV file for Reconcilliation</wsdl:documentation>
      <wsdl:input message="tns:SendReconcilliationFileSoapIn" />
      <wsdl:output message="tns:SendReconcilliationFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Determines if a transaction posted was successfully effected.Also retrieves details of a previously posted transaction by an agent.</wsdl:documentation>
      <wsdl:input message="tns:GetTransactionDetailsSoapIn" />
      <wsdl:output message="tns:GetTransactionDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateStudentDetails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Validates student details against the BillReferenceNumber provided in the bank</wsdl:documentation>
      <wsdl:input message="tns:ValidateStudentDetailsSoapIn" />
      <wsdl:output message="tns:ValidateStudentDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostTransaction">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Posts a transaction to CEMAS before the service sends it to talisma</wsdl:documentation>
      <wsdl:input message="tns:PostTransactionSoapIn" />
      <wsdl:output message="tns:PostTransactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EPaymentSoap" type="tns:EPaymentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerStatus">
      <soap:operation soapAction="http://cemasinterface/GetServerStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendReconcilliationFile">
      <soap:operation soapAction="http://cemasinterface/SendReconcilliationFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetails">
      <soap:operation soapAction="http://cemasinterface/GetTransactionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateStudentDetails">
      <soap:operation soapAction="http://cemasinterface/ValidateStudentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTransaction">
      <soap:operation soapAction="http://cemasinterface/PostTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EPaymentSoap12" type="tns:EPaymentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerStatus">
      <soap12:operation soapAction="http://cemasinterface/GetServerStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendReconcilliationFile">
      <soap12:operation soapAction="http://cemasinterface/SendReconcilliationFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetails">
      <soap12:operation soapAction="http://cemasinterface/GetTransactionDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateStudentDetails">
      <soap12:operation soapAction="http://cemasinterface/ValidateStudentDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTransaction">
      <soap12:operation soapAction="http://cemasinterface/PostTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EPayment">
    <wsdl:port name="EPaymentSoap" binding="tns:EPaymentSoap">
      <soap:address location="https://154.72.196.76:8090/PegPayInterface/EPayment.asmx" />
    </wsdl:port>
    <wsdl:port name="EPaymentSoap12" binding="tns:EPaymentSoap12">
      <soap12:address location="https://154.72.196.76:8090/PegPayInterface/EPayment.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>