billpayments/Level2Api/UtilityReferences/Web References/MoweApi/MowePaymentApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QueryCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="tns:Query" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Query">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RequestId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceIP" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryCustomerResult" type="tns:ApiResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApiResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Balance" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SchemeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UmbrellaCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SchemeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MoweId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UmbrellaName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:Transaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Transaction">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RequestId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CustomerRef" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CustomerType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CustomerTel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TranAmount" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PaymentType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TranType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PaymentDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UtilityCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Teller" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ChequeNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Narration" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DigitalSignature" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ChargeAmount" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ExerciseDuty" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Reversal" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Area" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="PostTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostTransactionResult" type="tns:ApiResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostUssdPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:Transaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostUssdPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostUssdPaymentResult" type="tns:ApiResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="tns:Query" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionResult" type="tns:ApiResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:QueryCustomer" />
  </wsdl:message>
  <wsdl:message name="QueryCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:QueryCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="PostTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:PostTransaction" />
  </wsdl:message>
  <wsdl:message name="PostTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:PostTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="PostUssdPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:PostUssdPayment" />
  </wsdl:message>
  <wsdl:message name="PostUssdPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:PostUssdPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransaction" />
  </wsdl:message>
  <wsdl:message name="GetTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="MowePaymentApiSoap">
    <wsdl:operation name="QueryCustomer">
      <wsdl:input message="tns:QueryCustomerSoapIn" />
      <wsdl:output message="tns:QueryCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostTransaction">
      <wsdl:input message="tns:PostTransactionSoapIn" />
      <wsdl:output message="tns:PostTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostUssdPayment">
      <wsdl:input message="tns:PostUssdPaymentSoapIn" />
      <wsdl:output message="tns:PostUssdPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransaction">
      <wsdl:input message="tns:GetTransactionSoapIn" />
      <wsdl:output message="tns:GetTransactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MowePaymentApiSoap" type="tns:MowePaymentApiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryCustomer">
      <soap:operation soapAction="http://tempuri.org/QueryCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTransaction">
      <soap:operation soapAction="http://tempuri.org/PostTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostUssdPayment">
      <soap:operation soapAction="http://tempuri.org/PostUssdPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransaction">
      <soap:operation soapAction="http://tempuri.org/GetTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MowePaymentApiSoap12" type="tns:MowePaymentApiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryCustomer">
      <soap12:operation soapAction="http://tempuri.org/QueryCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostTransaction">
      <soap12:operation soapAction="http://tempuri.org/PostTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostUssdPayment">
      <soap12:operation soapAction="http://tempuri.org/PostUssdPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransaction">
      <soap12:operation soapAction="http://tempuri.org/GetTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MowePaymentApi">
    <wsdl:port name="MowePaymentApiSoap" binding="tns:MowePaymentApiSoap">
      <soap:address location="http://localhost:8020/MowePaymentsTestApi/MowePaymentApi.asmx" />
    </wsdl:port>
    <wsdl:port name="MowePaymentApiSoap12" binding="tns:MowePaymentApiSoap12">
      <soap12:address location="http://localhost:8020/MowePaymentsTestApi/MowePaymentApi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>