SimpleBankApplication/PEGBANK/PEGBANK/Web References/pegbankApi/pegbank.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RegisterClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:PostTransactionRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PostTransactionRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterClientResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DepositFunds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:Transaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Transaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DepositFundsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DepositFundsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WithdrawFunds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:Transaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WithdrawFundsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WithdrawFundsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckBalanceResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="toDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatementResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterClientSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="RegisterClientSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterClientResponse" />
  </wsdl:message>
  <wsdl:message name="DepositFundsSoapIn">
    <wsdl:part name="parameters" element="tns:DepositFunds" />
  </wsdl:message>
  <wsdl:message name="DepositFundsSoapOut">
    <wsdl:part name="parameters" element="tns:DepositFundsResponse" />
  </wsdl:message>
  <wsdl:message name="WithdrawFundsSoapIn">
    <wsdl:part name="parameters" element="tns:WithdrawFunds" />
  </wsdl:message>
  <wsdl:message name="WithdrawFundsSoapOut">
    <wsdl:part name="parameters" element="tns:WithdrawFundsResponse" />
  </wsdl:message>
  <wsdl:message name="CheckBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:CheckBalance" />
  </wsdl:message>
  <wsdl:message name="CheckBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:CheckBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatementSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatement" />
  </wsdl:message>
  <wsdl:message name="GetStatementSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatementResponse" />
  </wsdl:message>
  <wsdl:portType name="pegbankSoap">
    <wsdl:operation name="RegisterClient">
      <wsdl:input message="tns:RegisterClientSoapIn" />
      <wsdl:output message="tns:RegisterClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DepositFunds">
      <wsdl:input message="tns:DepositFundsSoapIn" />
      <wsdl:output message="tns:DepositFundsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WithdrawFunds">
      <wsdl:input message="tns:WithdrawFundsSoapIn" />
      <wsdl:output message="tns:WithdrawFundsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckBalance">
      <wsdl:input message="tns:CheckBalanceSoapIn" />
      <wsdl:output message="tns:CheckBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatement">
      <wsdl:input message="tns:GetStatementSoapIn" />
      <wsdl:output message="tns:GetStatementSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="pegbankSoap" type="tns:pegbankSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterClient">
      <soap:operation soapAction="http://tempuri.org/RegisterClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepositFunds">
      <soap:operation soapAction="http://tempuri.org/DepositFunds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WithdrawFunds">
      <soap:operation soapAction="http://tempuri.org/WithdrawFunds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckBalance">
      <soap:operation soapAction="http://tempuri.org/CheckBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatement">
      <soap:operation soapAction="http://tempuri.org/GetStatement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="pegbankSoap12" type="tns:pegbankSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterClient">
      <soap12:operation soapAction="http://tempuri.org/RegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepositFunds">
      <soap12:operation soapAction="http://tempuri.org/DepositFunds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WithdrawFunds">
      <soap12:operation soapAction="http://tempuri.org/WithdrawFunds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckBalance">
      <soap12:operation soapAction="http://tempuri.org/CheckBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatement">
      <soap12:operation soapAction="http://tempuri.org/GetStatement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="pegbank">
    <wsdl:port name="pegbankSoap" binding="tns:pegbankSoap">
      <soap:address location="http://localhost:61275/pegbank.asmx" />
    </wsdl:port>
    <wsdl:port name="pegbankSoap12" binding="tns:pegbankSoap12">
      <soap12:address location="http://localhost:61275/pegbank.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>