billpayments/Level2Api/UtilityReferences/Web References/Makerere/EPayment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://MUKEPayment/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://MUKEPayment/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://MUKEPayment/">
      <s:element name="GetServerStatus">
        <s:complexType />
      </s:element>
      <s:element name="GetServerStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServerStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryMukStudent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="studentNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vendorCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryMukStudentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryMukStudentResult" type="tns:Student" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Student">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StudentNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Course" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="School" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Balance" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostMukPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trans" type="tns:Transaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Transaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Semester" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YearOfStudy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Offline" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DigitalSignature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Teller" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranNarration" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VendorTranId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranIdToReverse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Course" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="School" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentTel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reversal" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostMukPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostMukPaymentResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiptNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServerStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetServerStatus" />
  </wsdl:message>
  <wsdl:message name="GetServerStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetServerStatusResponse" />
  </wsdl:message>
  <wsdl:message name="QueryMukStudentSoapIn">
    <wsdl:part name="parameters" element="tns:QueryMukStudent" />
  </wsdl:message>
  <wsdl:message name="QueryMukStudentSoapOut">
    <wsdl:part name="parameters" element="tns:QueryMukStudentResponse" />
  </wsdl:message>
  <wsdl:message name="PostMukPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:PostMukPayment" />
  </wsdl:message>
  <wsdl:message name="PostMukPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:PostMukPaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="EPaymentSoap">
    <wsdl:operation name="GetServerStatus">
      <wsdl:input message="tns:GetServerStatusSoapIn" />
      <wsdl:output message="tns:GetServerStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryMukStudent">
      <wsdl:input message="tns:QueryMukStudentSoapIn" />
      <wsdl:output message="tns:QueryMukStudentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostMukPayment">
      <wsdl:input message="tns:PostMukPaymentSoapIn" />
      <wsdl:output message="tns:PostMukPaymentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EPaymentSoap" type="tns:EPaymentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerStatus">
      <soap:operation soapAction="http://MUKEPayment/GetServerStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMukStudent">
      <soap:operation soapAction="http://MUKEPayment/QueryMukStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostMukPayment">
      <soap:operation soapAction="http://MUKEPayment/PostMukPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EPaymentSoap12" type="tns:EPaymentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServerStatus">
      <soap12:operation soapAction="http://MUKEPayment/GetServerStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMukStudent">
      <soap12:operation soapAction="http://MUKEPayment/QueryMukStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostMukPayment">
      <soap12:operation soapAction="http://MUKEPayment/PostMukPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EPayment">
    <wsdl:port name="EPaymentSoap" binding="tns:EPaymentSoap">
      <soap:address location="https://196.43.133.113:8001/EpaymentInterface/EPayment.asmx" />
    </wsdl:port>
    <wsdl:port name="EPaymentSoap12" binding="tns:EPaymentSoap12">
      <soap12:address location="https://196.43.133.113:8001/EpaymentInterface/EPayment.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>