286/LiveStartimesNotifier/UtilReqSender/UtilityRequestSender/Web References/StarTimes/electronicPaymentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:ns2="http://dto.beans.crm.com" xmlns:ns1="http://haiwai.model.sms.star.com" xmlns:tns="http://service.haiwai.sms.star.com" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns4="http://model.service.sms.star.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http://condition.haiwai.model.sms.star.com" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="http://service.haiwai.sms.star.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://haiwai.model.sms.star.com">
      <xsd:complexType name="CustomerPayDto2">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="customerCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="customerName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="customerTel" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="deviceType" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="email" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="fee" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="payerID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="payerPwd" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="receiptCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="smartCardCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="transactionNo" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="transferTime" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomerPayResult2">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="orderCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="returnCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="returnMsg" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="transactionlNo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ThirdPartnerRes">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="returnCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="returnMsg" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="transactionlNo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SubscriberQueryResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="balance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="canOrderProductInfos" nillable="true" type="ns1:ArrayOfProductInfo" />
          <xsd:element minOccurs="0" name="customerName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="orderedProductsDesc" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="returnCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="returnMsg" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="smartCardCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="subscriberStatus" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="transactionlNo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfProductInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ProductInfo" nillable="true" type="ns1:ProductInfo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="productDesc" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="productNo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.haiwai.sms.star.com">
      <xsd:element name="customerPay2">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="ns1:CustomerPayDto2" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="customerPay2Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns1:CustomerPayResult2" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rechargeAndMultiChangeProduct">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:double" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in4" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in5" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in6" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rechargeAndMultiChangeProductResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:USSDApiResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rechargeAndChangeProduct">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="ns3:RechargeAndChangeProductCondition" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rechargeAndChangeProductResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns1:ThirdPartnerRes" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryBalance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="transactionNo" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="payerID" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="payerPwd" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="customerCode" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="smartCardCode" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="customerPwd" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="deviceType" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryBalanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns4:BalanceInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="querySubscriberInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="ns3:SubscriberQueryCondition" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="querySubscriberInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns1:SubscriberQueryResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="customerPay">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="transactionNo" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="payerID" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="payerPwd" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="customerCode" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="customerName" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="customerTel" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="smartCardCode" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="fee" nillable="true" type="xsd:double" />
            <xsd:element minOccurs="1" maxOccurs="1" name="receiptCode" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="deviceType" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="transferTime" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="customerPayResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns4:CustomerPayResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validateAndQuerySubscriberInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validateAndQuerySubscriberInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="ns2:USSDApiResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.beans.crm.com">
      <xsd:complexType name="USSDApiResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="data" nillable="true" type="xsd:anyType" />
          <xsd:element minOccurs="0" name="errormessage" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="resultcode" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://condition.haiwai.model.sms.star.com">
      <xsd:complexType name="RechargeAndChangeProductCondition">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="fee" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="payerID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="payerPwd" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="productNo" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="smartCardCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="transactionNo" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="transferTime" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SubscriberQueryCondition">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="payerID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="payerPwd" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="smartCardCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="transactionNo" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.service.sms.star.com">
      <xsd:complexType name="BalanceInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TELDealID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="balance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="billAmount" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="customerCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="customerName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="payType" nillable="true" type="xsd:int" />
          <xsd:element minOccurs="0" name="returnCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="returnMsg" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="smartCardCode" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CustomerPayResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TELDealID" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="balance" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="customerCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="customerContectTel" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="customerName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="fee" nillable="true" type="xsd:double" />
          <xsd:element minOccurs="0" name="orderCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="returnCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="returnMsg" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="smartCardCode" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="querySubscriberInfoRequest">
    <wsdl:part name="parameters" element="tns:querySubscriberInfo" />
  </wsdl:message>
  <wsdl:message name="queryBalanceResponse">
    <wsdl:part name="parameters" element="tns:queryBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="rechargeAndChangeProductResponse">
    <wsdl:part name="parameters" element="tns:rechargeAndChangeProductResponse" />
  </wsdl:message>
  <wsdl:message name="rechargeAndMultiChangeProductRequest">
    <wsdl:part name="parameters" element="tns:rechargeAndMultiChangeProduct" />
  </wsdl:message>
  <wsdl:message name="validateAndQuerySubscriberInfoResponse">
    <wsdl:part name="parameters" element="tns:validateAndQuerySubscriberInfoResponse" />
  </wsdl:message>
  <wsdl:message name="customerPayRequest">
    <wsdl:part name="parameters" element="tns:customerPay" />
  </wsdl:message>
  <wsdl:message name="queryBalanceRequest">
    <wsdl:part name="parameters" element="tns:queryBalance" />
  </wsdl:message>
  <wsdl:message name="customerPay2Request">
    <wsdl:part name="parameters" element="tns:customerPay2" />
  </wsdl:message>
  <wsdl:message name="rechargeAndMultiChangeProductResponse">
    <wsdl:part name="parameters" element="tns:rechargeAndMultiChangeProductResponse" />
  </wsdl:message>
  <wsdl:message name="customerPayResponse">
    <wsdl:part name="parameters" element="tns:customerPayResponse" />
  </wsdl:message>
  <wsdl:message name="rechargeAndChangeProductRequest">
    <wsdl:part name="parameters" element="tns:rechargeAndChangeProduct" />
  </wsdl:message>
  <wsdl:message name="validateAndQuerySubscriberInfoRequest">
    <wsdl:part name="parameters" element="tns:validateAndQuerySubscriberInfo" />
  </wsdl:message>
  <wsdl:message name="customerPay2Response">
    <wsdl:part name="parameters" element="tns:customerPay2Response" />
  </wsdl:message>
  <wsdl:message name="querySubscriberInfoResponse">
    <wsdl:part name="parameters" element="tns:querySubscriberInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IHaiWaiElectronicPaymentServicePortType">
    <wsdl:operation name="customerPay2">
      <wsdl:input name="customerPay2Request" message="tns:customerPay2Request" />
      <wsdl:output name="customerPay2Response" message="tns:customerPay2Response" />
    </wsdl:operation>
    <wsdl:operation name="rechargeAndMultiChangeProduct">
      <wsdl:input name="rechargeAndMultiChangeProductRequest" message="tns:rechargeAndMultiChangeProductRequest" />
      <wsdl:output name="rechargeAndMultiChangeProductResponse" message="tns:rechargeAndMultiChangeProductResponse" />
    </wsdl:operation>
    <wsdl:operation name="rechargeAndChangeProduct">
      <wsdl:input name="rechargeAndChangeProductRequest" message="tns:rechargeAndChangeProductRequest" />
      <wsdl:output name="rechargeAndChangeProductResponse" message="tns:rechargeAndChangeProductResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryBalance">
      <wsdl:input name="queryBalanceRequest" message="tns:queryBalanceRequest" />
      <wsdl:output name="queryBalanceResponse" message="tns:queryBalanceResponse" />
    </wsdl:operation>
    <wsdl:operation name="querySubscriberInfo">
      <wsdl:input name="querySubscriberInfoRequest" message="tns:querySubscriberInfoRequest" />
      <wsdl:output name="querySubscriberInfoResponse" message="tns:querySubscriberInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="customerPay">
      <wsdl:input name="customerPayRequest" message="tns:customerPayRequest" />
      <wsdl:output name="customerPayResponse" message="tns:customerPayResponse" />
    </wsdl:operation>
    <wsdl:operation name="validateAndQuerySubscriberInfo">
      <wsdl:input name="validateAndQuerySubscriberInfoRequest" message="tns:validateAndQuerySubscriberInfoRequest" />
      <wsdl:output name="validateAndQuerySubscriberInfoResponse" message="tns:validateAndQuerySubscriberInfoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IHaiWaiElectronicPaymentServiceHttpBinding" type="tns:IHaiWaiElectronicPaymentServicePortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="customerPay2">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="customerPay2Request">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="customerPay2Response">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rechargeAndMultiChangeProduct">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="rechargeAndMultiChangeProductRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="rechargeAndMultiChangeProductResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rechargeAndChangeProduct">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="rechargeAndChangeProductRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="rechargeAndChangeProductResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryBalance">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="queryBalanceRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryBalanceResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="querySubscriberInfo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="querySubscriberInfoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="querySubscriberInfoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="customerPay">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="customerPayRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="customerPayResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateAndQuerySubscriberInfo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="validateAndQuerySubscriberInfoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validateAndQuerySubscriberInfoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IHaiWaiElectronicPaymentService">
    <wsdl:port name="IHaiWaiElectronicPaymentServiceHttpPort" binding="tns:IHaiWaiElectronicPaymentServiceHttpBinding">
      <wsdlsoap:address location="http://172.31.40.78/electronicPaymentService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>