billpayments/Level2Api/UtilityReferences/Web References/Tucksee/PaymentNotificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:PaymentNotificationService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:PaymentNotificationService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:PaymentNotificationService">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="authenticateRequest">
    <wsdl:part name="api_key" type="xsd:string" />
    <wsdl:part name="api_username" type="xsd:string" />
    <wsdl:part name="api_password" type="xsd:string" />
    <wsdl:part name="hash" type="xsd:string" />
    <wsdl:part name="backref" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="authenticateResponse">
    <wsdl:part name="return" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="closeTransactionRequest">
    <wsdl:part name="session_key" type="xsd:string" />
    <wsdl:part name="reference" type="xsd:string" />
    <wsdl:part name="transaction_id" type="xsd:string" />
    <wsdl:part name="logout" type="xsd:anyType" />
    <wsdl:part name="hash" type="xsd:string" />
    <wsdl:part name="backref" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="closeTransactionResponse">
    <wsdl:part name="return" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="eodReportRequest">
    <wsdl:part name="session_key" type="xsd:string" />
    <wsdl:part name="tpgo_reference" type="xsd:string" />
    <wsdl:part name="content" type="xsd:string" />
    <wsdl:part name="logout" type="xsd:anyType" />
    <wsdl:part name="hash" type="xsd:string" />
    <wsdl:part name="backref" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eodReportResponse">
    <wsdl:part name="return" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="getTransactionDetailsRequest">
    <wsdl:part name="session_key" type="xsd:string" />
    <wsdl:part name="transaction_id" type="xsd:string" />
    <wsdl:part name="hash" type="xsd:string" />
    <wsdl:part name="backref" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getTransactionDetailsResponse">
    <wsdl:part name="return" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="transactRequest">
    <wsdl:part name="session_key" type="xsd:string" />
    <wsdl:part name="reference" type="xsd:string" />
    <wsdl:part name="transaction" type="xsd:string" />
    <wsdl:part name="hash" type="xsd:string" />
    <wsdl:part name="backref" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="transactResponse">
    <wsdl:part name="return" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="updateChequeRequest">
    <wsdl:part name="session_key" type="xsd:string" />
    <wsdl:part name="reference" type="xsd:string" />
    <wsdl:part name="cheque_number" type="xsd:string" />
    <wsdl:part name="status" type="xsd:string" />
    <wsdl:part name="hash" type="xsd:string" />
    <wsdl:part name="reason" type="xsd:int" />
    <wsdl:part name="backref" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateChequeResponse">
    <wsdl:part name="return" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="verifyReferenceRequest">
    <wsdl:part name="session_key" type="xsd:string" />
    <wsdl:part name="reference" type="xsd:string" />
    <wsdl:part name="hash" type="xsd:string" />
    <wsdl:part name="backref" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="verifyReferenceResponse">
    <wsdl:part name="return" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:portType name="PaymentNotificationServicePortType">
    <wsdl:operation name="authenticate">
      <documentation>authenticate api account</documentation>
      <wsdl:input message="tns:authenticateRequest" />
      <wsdl:output message="tns:authenticateResponse" />
    </wsdl:operation>
    <wsdl:operation name="closeTransaction">
      <documentation>close the transacytion by communicating the prn back to collecting agent</documentation>
      <wsdl:input message="tns:closeTransactionRequest" />
      <wsdl:output message="tns:closeTransactionResponse" />
    </wsdl:operation>
    <wsdl:operation name="eodReport">
      <documentation>The operation is meant to be used for sending all transaction that has been processed throughout the day back to the Payment service for reconciliation.</documentation>
      <wsdl:input message="tns:eodReportRequest" />
      <wsdl:output message="tns:eodReportResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTransactionDetails">
      <documentation>get transaction details</documentation>
      <wsdl:input message="tns:getTransactionDetailsRequest" />
      <wsdl:output message="tns:getTransactionDetailsResponse" />
    </wsdl:operation>
    <wsdl:operation name="transact">
      <documentation>Sends the transaction to the system for processing</documentation>
      <wsdl:input message="tns:transactRequest" />
      <wsdl:output message="tns:transactResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateCheque">
      <documentation>The operation is meant to be used for sending transaction updates in previous cheque transacton and it follows the authenticate operation</documentation>
      <wsdl:input message="tns:updateChequeRequest" />
      <wsdl:output message="tns:updateChequeResponse" />
    </wsdl:operation>
    <wsdl:operation name="verifyReference">
      <documentation>verifies payment reference with the collecting agent</documentation>
      <wsdl:input message="tns:verifyReferenceRequest" />
      <wsdl:output message="tns:verifyReferenceResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentNotificationServiceBinding" type="tns:PaymentNotificationServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="authenticate">
      <soap:operation soapAction="urn:PaymentNotificationService#authenticate" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:PaymentNotificationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:PaymentNotificationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="closeTransaction">
      <soap:operation soapAction="urn:PaymentNotificationService#closeTransaction" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:PaymentNotificationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:PaymentNotificationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eodReport">
      <soap:operation soapAction="urn:PaymentNotificationService#eodReport" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:PaymentNotificationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:PaymentNotificationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransactionDetails">
      <soap:operation soapAction="urn:PaymentNotificationService#getTransactionDetails" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:PaymentNotificationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:PaymentNotificationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transact">
      <soap:operation soapAction="urn:PaymentNotificationService#transact" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:PaymentNotificationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:PaymentNotificationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCheque">
      <soap:operation soapAction="urn:PaymentNotificationService#updateCheque" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:PaymentNotificationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:PaymentNotificationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyReference">
      <soap:operation soapAction="urn:PaymentNotificationService#verifyReference" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:PaymentNotificationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:PaymentNotificationService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentNotificationService">
    <wsdl:port name="PaymentNotificationServicePort" binding="tns:PaymentNotificationServiceBinding">
      <soap:address location="https://tpg.tamsonline.co.za/api/exec/PaymentNotificationService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>