mtn/DSTVUtilitySender/UtilReqSender/Web References/DstvApi/SelfCareService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://MultiChoice.TranslationLayer/DataContracts" elementFormDefault="qualified" targetNamespace="http://MultiChoice.TranslationLayer/DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SQSDetailsResponseCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SQSDetailsResponse" nillable="true" type="tns:GetSQSDetailsResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQSDetailsResponseCollection" nillable="true" type="tns:SQSDetailsResponseCollection" />
  <xs:complexType name="GetSQSDetailsResponse">
    <xs:sequence>
      <xs:element name="RequestName" nillable="true" type="xs:string" />
      <xs:element name="Status" nillable="true" type="xs:string" />
      <xs:element name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element name="Message" nillable="true" type="xs:string" />
      <xs:element name="CustomerNumber" nillable="true" type="xs:string" />
      <xs:element name="SmartCardNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSQSDetailsResponse" nillable="true" type="tns:GetSQSDetailsResponse" />
</xs:schema>