billpayments/Level2Api/UtilityReferences/Web References/NDAValidation/MobileMoneyInvoiceServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:ns2="http://service.nda.or.ug" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.nda.or.ug" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://wsi.nda.or.ug" name="MobileMoneyInvoiceServiceService" targetNamespace="http://services.nda.or.ug" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema targetNamespace="http://wsi.nda.or.ug" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:simpleType name="invoiceStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PAID" />
          <xs:enumeration value="UNPAID" />
          <xs:enumeration value="EXPIRED" />
          <xs:enumeration value="PENDING_VERIFICATION" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema xmlns:ns1="http://service.nda.or.ug" targetNamespace="http://services.nda.or.ug" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://service.nda.or.ug" />
      <xs:element name="validateInvoice" type="tns:validateInvoice" />
      <xs:element name="validateInvoiceResponse" type="tns:validateInvoiceResponse" />
      <xs:complexType name="validateInvoice">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="ns1:invoiceValidationRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validateInvoiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="ns1:invoiceValidationResponse" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://service.nda.or.ug" targetNamespace="http://service.nda.or.ug" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://wsi.nda.or.ug" />
      <xs:complexType name="invoiceValidationRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="invoiceNo" type="xs:string" />
          <xs:element minOccurs="0" name="requestHeader" type="tns:requestHeader" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestHeader">
        <xs:sequence>
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="systemID" type="xs:string" />
          <xs:element minOccurs="0" name="systemToken" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="invoiceValidationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="invoice" type="tns:invoiceDTO" />
          <xs:element minOccurs="0" name="statusCode" type="xs:int" />
          <xs:element minOccurs="0" name="statusMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="invoiceDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="currencyCode" type="xs:string" />
          <xs:element minOccurs="0" name="customerName" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element minOccurs="0" name="dueDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="invoiceNo" type="xs:string" />
          <xs:element minOccurs="0" name="paymentExists" type="xs:boolean" />
          <xs:element minOccurs="0" name="reference1" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="ns1:invoiceStatus" />
          <xs:element minOccurs="0" name="systemMessage" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="mobileMoneyValidationService_validateInvoiceResponse">
    <part name="validateInvoiceResponse" element="tns:validateInvoiceResponse" />
  </message>
  <message name="mobileMoneyValidationService_validateInvoice">
    <part name="validateInvoice" element="tns:validateInvoice" />
  </message>
  <portType name="mobileMoneyValidationService">
    <operation name="validateInvoice" parameterOrder="validateInvoice">
      <input message="tns:mobileMoneyValidationService_validateInvoice" />
      <output message="tns:mobileMoneyValidationService_validateInvoiceResponse" />
    </operation>
  </portType>
  <binding name="mobileMoneyValidationServiceBinding" type="tns:mobileMoneyValidationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="validateInvoice">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MobileMoneyInvoiceServiceService">
    <port name="mobileMoneyValidationServicePort" binding="tns:mobileMoneyValidationServiceBinding">
      <soap:address location="http://127.0.0.1:8080/broker/mobilemoney/invoice/validation/v1.0" />
    </port>
  </service>
</definitions>