kcb/KCB services/LiveVasUtilitySender/LiveVasUtilitySenderLibrary/Web References/SchoolsApi/SchoolApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="SchoolApi/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="SchoolApi/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="SchoolApi/">
      <s:element name="ValidateSchoolCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="schoolcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateSchoolCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateSchoolCodeResult" type="tns:ApiResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApiResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Charge" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiptNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Student" type="tns:Student" />
          <s:element minOccurs="0" maxOccurs="1" name="Transactions" type="tns:ArrayOfApiTransaction" />
          <s:element minOccurs="0" maxOccurs="1" name="SchoolFees" type="tns:ArrayOfSchoolFee" />
          <s:element minOccurs="0" maxOccurs="1" name="StdList" type="tns:ArrayOfStudent" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Student">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BankId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClassName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BankCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MinimumPayment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SchoolStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SchoolFee" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SchoolAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AmountToPay" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="School" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Level" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StdNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StdName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfApiTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ApiTransaction" nillable="true" type="tns:ApiTransaction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ApiTransaction">
        <s:complexContent mixed="false">
          <s:extension base="tns:SchoolTransaction">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RecordDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReceiptNumber" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SchoolTransaction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AllowDirectNotification" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="BankCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reversal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsDirectPost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IsAReversal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReversalId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelecomId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BankId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SendToBank" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SentToTelecom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReconFile" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Agent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VisaCvvNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VisaCardNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SchoolCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DigitalSignature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Channel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Teller" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Narration" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranCharge1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranCharge2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSchoolFee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SchoolFee" nillable="true" type="tns:SchoolFee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SchoolFee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Classi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fee" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfStudent">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStudent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="studentnumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="schoolcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentResult" type="tns:ApiResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostOnlinePaymentForProcessing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trans" type="tns:SchoolTransaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostOnlinePaymentForProcessingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostOnlinePaymentForProcessingResult" type="tns:ApiResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakePayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transaction" type="tns:SchoolTransaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakePaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MakePaymentResult" type="tns:ApiResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsValidTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transaction" type="tns:SchoolTransaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsValidTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsValidTransactionResult" type="tns:ApiResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transactionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionStatusResult" type="tns:ApiResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReconcileSingleTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trans" type="tns:SchoolTransaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReconcileSingleTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReconcileSingleTransactionResult" type="tns:ApiResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReconcileTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trans" type="tns:SchoolTransaction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReconcileTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReconcileTransactionsResult" type="tns:ApiResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateSchoolCodeSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateSchoolCode" />
  </wsdl:message>
  <wsdl:message name="ValidateSchoolCodeSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateSchoolCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetStudentSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudent" />
  </wsdl:message>
  <wsdl:message name="GetStudentSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentResponse" />
  </wsdl:message>
  <wsdl:message name="PostOnlinePaymentForProcessingSoapIn">
    <wsdl:part name="parameters" element="tns:PostOnlinePaymentForProcessing" />
  </wsdl:message>
  <wsdl:message name="PostOnlinePaymentForProcessingSoapOut">
    <wsdl:part name="parameters" element="tns:PostOnlinePaymentForProcessingResponse" />
  </wsdl:message>
  <wsdl:message name="MakePaymentSoapIn">
    <wsdl:part name="parameters" element="tns:MakePayment" />
  </wsdl:message>
  <wsdl:message name="MakePaymentSoapOut">
    <wsdl:part name="parameters" element="tns:MakePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IsValidTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:IsValidTransaction" />
  </wsdl:message>
  <wsdl:message name="IsValidTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:IsValidTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionStatus" />
  </wsdl:message>
  <wsdl:message name="GetTransactionStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ReconcileSingleTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:ReconcileSingleTransaction" />
  </wsdl:message>
  <wsdl:message name="ReconcileSingleTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:ReconcileSingleTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ReconcileTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:ReconcileTransactions" />
  </wsdl:message>
  <wsdl:message name="ReconcileTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:ReconcileTransactionsResponse" />
  </wsdl:message>
  <wsdl:portType name="SchoolApiSoap">
    <wsdl:operation name="ValidateSchoolCode">
      <wsdl:input message="tns:ValidateSchoolCodeSoapIn" />
      <wsdl:output message="tns:ValidateSchoolCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStudent">
      <wsdl:input message="tns:GetStudentSoapIn" />
      <wsdl:output message="tns:GetStudentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostOnlinePaymentForProcessing">
      <wsdl:input message="tns:PostOnlinePaymentForProcessingSoapIn" />
      <wsdl:output message="tns:PostOnlinePaymentForProcessingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MakePayment">
      <wsdl:input message="tns:MakePaymentSoapIn" />
      <wsdl:output message="tns:MakePaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsValidTransaction">
      <wsdl:input message="tns:IsValidTransactionSoapIn" />
      <wsdl:output message="tns:IsValidTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionStatus">
      <wsdl:input message="tns:GetTransactionStatusSoapIn" />
      <wsdl:output message="tns:GetTransactionStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReconcileSingleTransaction">
      <wsdl:input message="tns:ReconcileSingleTransactionSoapIn" />
      <wsdl:output message="tns:ReconcileSingleTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReconcileTransactions">
      <wsdl:input message="tns:ReconcileTransactionsSoapIn" />
      <wsdl:output message="tns:ReconcileTransactionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SchoolApiSoap" type="tns:SchoolApiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateSchoolCode">
      <soap:operation soapAction="SchoolApi/ValidateSchoolCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudent">
      <soap:operation soapAction="SchoolApi/GetStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostOnlinePaymentForProcessing">
      <soap:operation soapAction="SchoolApi/PostOnlinePaymentForProcessing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePayment">
      <soap:operation soapAction="SchoolApi/MakePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidTransaction">
      <soap:operation soapAction="SchoolApi/IsValidTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionStatus">
      <soap:operation soapAction="SchoolApi/GetTransactionStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReconcileSingleTransaction">
      <soap:operation soapAction="SchoolApi/ReconcileSingleTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReconcileTransactions">
      <soap:operation soapAction="SchoolApi/ReconcileTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SchoolApiSoap12" type="tns:SchoolApiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateSchoolCode">
      <soap12:operation soapAction="SchoolApi/ValidateSchoolCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudent">
      <soap12:operation soapAction="SchoolApi/GetStudent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostOnlinePaymentForProcessing">
      <soap12:operation soapAction="SchoolApi/PostOnlinePaymentForProcessing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakePayment">
      <soap12:operation soapAction="SchoolApi/MakePayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidTransaction">
      <soap12:operation soapAction="SchoolApi/IsValidTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionStatus">
      <soap12:operation soapAction="SchoolApi/GetTransactionStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReconcileSingleTransaction">
      <soap12:operation soapAction="SchoolApi/ReconcileSingleTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReconcileTransactions">
      <soap12:operation soapAction="SchoolApi/ReconcileTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchoolApi">
    <wsdl:port name="SchoolApiSoap" binding="tns:SchoolApiSoap">
      <soap:address location="http://localhost:8020/SchoolFeesApi/SchoolApi.asmx" />
    </wsdl:port>
    <wsdl:port name="SchoolApiSoap12" binding="tns:SchoolApiSoap12">
      <soap12:address location="http://localhost:8020/SchoolFeesApi/SchoolApi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>