billpayments/Level2Api/UtilityReferences/Web References/KCCA1/telecom-paymentv1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:TelecomPaymentService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:TelecomPaymentService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:TelecomPaymentService">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="authenticateRequest">
    <wsdl:part name="ap_key" type="xsd:string" />
    <wsdl:part name="api_username" type="xsd:string" />
    <wsdl:part name="api_password" type="xsd:string" />
    <wsdl:part name="hash" type="xsd:string" />
    <wsdl:part name="backref" type="xsd:anyType" />
  </wsdl:message>
  <wsdl:message name="authenticateResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="verifyReferenceRequest">
    <wsdl:part name="session_key" type="xsd:string" />
    <wsdl:part name="reference" type="xsd:string" />
    <wsdl:part name="hash" type="xsd:string" />
    <wsdl:part name="backref" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="verifyReferenceResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="transactRequest">
    <wsdl:part name="session_key" type="xsd:string" />
    <wsdl:part name="reference" type="xsd:string" />
    <wsdl:part name="transaction" type="xsd:anyType" />
    <wsdl:part name="hash" type="xsd:string" />
    <wsdl:part name="backref" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="transactResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="closeTransactionRequest">
    <wsdl:part name="session_key" type="xsd:string" />
    <wsdl:part name="reference" type="xsd:string" />
    <wsdl:part name="transaction_id" type="xsd:anyType" />
    <wsdl:part name="tracking_id" type="xsd:anyType" />
    <wsdl:part name="hash" type="xsd:string" />
    <wsdl:part name="backref" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="closeTransactionResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eodReportRequest">
    <wsdl:part name="session_key" type="xsd:string" />
    <wsdl:part name="content" type="xsd:string" />
    <wsdl:part name="backref" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eodReportResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="TelecomPaymentServicePortType">
    <wsdl:operation name="authenticate">
      <documentation>Validate a user by supplied password, returns session key</documentation>
      <wsdl:input message="tns:authenticateRequest" />
      <wsdl:output message="tns:authenticateResponse" />
    </wsdl:operation>
    <wsdl:operation name="verifyReference">
      <documentation>The operation is meant to be used for verifying a payment reference which a customer wish to pay</documentation>
      <wsdl:input message="tns:verifyReferenceRequest" />
      <wsdl:output message="tns:verifyReferenceResponse" />
    </wsdl:operation>
    <wsdl:operation name="transact">
      <documentation>The operation is meant to be used for sending transaction that has been done on the telecom side following the verifyReference operation</documentation>
      <wsdl:input message="tns:transactRequest" />
      <wsdl:output message="tns:transactResponse" />
    </wsdl:operation>
    <wsdl:operation name="closeTransaction">
      <documentation>The operation is meant to be used for finalizing a transaction with the details of transaction from telecom or payment provider.</documentation>
      <wsdl:input message="tns:closeTransactionRequest" />
      <wsdl:output message="tns:closeTransactionResponse" />
    </wsdl:operation>
    <wsdl:operation name="eodReport">
      <documentation>The operation is meant to be used for sending all transaction that has been processed throughout the day back to the Payment service for reconciliation.</documentation>
      <wsdl:input message="tns:eodReportRequest" />
      <wsdl:output message="tns:eodReportResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TelecomPaymentServiceBinding" type="tns:TelecomPaymentServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="authenticate">
      <soap:operation soapAction="urn:TelecomPaymentService#authenticate" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:TelecomPaymentService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:TelecomPaymentService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyReference">
      <soap:operation soapAction="urn:TelecomPaymentService#verifyReference" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:TelecomPaymentService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:TelecomPaymentService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transact">
      <soap:operation soapAction="urn:TelecomPaymentService#transact" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:TelecomPaymentService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:TelecomPaymentService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="closeTransaction">
      <soap:operation soapAction="urn:TelecomPaymentService#closeTransaction" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:TelecomPaymentService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:TelecomPaymentService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eodReport">
      <soap:operation soapAction="urn:BankPaymentService#eodReport" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:BankPaymentService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:BankPaymentService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TelecomPaymentService">
    <wsdl:port name="TelecomPaymentServicePort" binding="tns:TelecomPaymentServiceBinding">
      <soap:address location="https://beta.tamsonline.co.za/kcca-pts/api/telecom-paymentv1.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>